<!--
  Generated template for the MynzPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{config.strings.en.titles.mynz}}</ion-title>
    <ion-buttons end>
      <button *ngIf="haveFavourites" ion-button icon-only (click)="clearFavourites()"><ion-icon name="trash"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <div *ngIf="!haveFavourites">
    <h4>You haven't added any favourties yet.</h4><p>Wherever you see a <ion-icon name="heart"></ion-icon> button tap it to add the event or listing to your kiwi bucket list!</p>
  </div>

  <ion-card *ngFor="let post of posts" (click)="viewPost(post)">
    <img *ngIf="post.acf.normal_image" src="{{post.acf.normal_image.sizes.app}}" />
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-title>
              <h1 [innerHtml]="post.title.rendered"></h1>
            </ion-card-title>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-10>
            <p [innerHtml]="post.excerpt"></p>
          </ion-col>
          <ion-col align-self-end>
            <ion-icon class="readmore" name="arrow-round-forward" float-right></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
