// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.

.image-credit {
    position:absolute;
    right:0;
    bottom:0;
    text-shadow:0 0 5px #222;
    color:#fff;
    padding:0.5rem 1rem;
    font-weight:100;
    font-size:1rem;
    text-transform:uppercase;
}

.meta-title {
    text-transform:uppercase;
    margin-bottom:0;
}

.readmore {
    zoom:2.3;
    color: $card-md-text-color;
}

.info-label {
    text-transform:uppercase;
    font-size:0.9rem;
}

.info-label, .info-data {
    margin:0.75rem 0;
}

img {
    display:block;
}

//.swiper-slide {}

.grid {
    padding:0;
}

.col {
    padding:0;
}

.toolbar-buttons {
    margin-bottom:16px;

    .col {
        text-align:center;
        border-width:1px 0 1px 1px;
        border-color:#ddd;
        border-style:solid;

        &:last-child {
            border-width:1px;
        }
    }
}

.information {
    margin-top:16px;
}

.card {
    margin:0 0 24px 0;
    width:100%;
}