// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.

.image-credit {
    position:absolute;
    right:0;
    bottom:0;
    text-shadow:0 0 5px #222;
    color:#fff;
    padding:0.5rem 1rem;
    font-weight:100;
    font-size:1rem;
    text-transform:uppercase;
}

.meta-title {
    text-transform:uppercase;
}

.readmore {
    zoom:2.0;
}